---
import Layout from "@/layouts/Layout.astro";
import CartView from "@/components/web/cart/CartView.vue";
---

<Layout title="Tu Carrito">
	<main class="pt-20">
		<CartView client:load />
	</main>
</Layout>
