---
import Layout from "@/layouts/Layout.astro";
import CheckoutView from "@/components/web/checkout/CheckoutView.vue";
import { auth } from "@/lib/auth";

const sessionData = await auth.api.getSession({
	headers: Astro.request.headers,
});
const session = sessionData ? { userId: sessionData.user.id } : null;
---

<Layout title="Finalizar Compra">
	<main class="pt-20">
		<CheckoutView client:load initialSession={session} />
	</main>
</Layout>
