---
export const prerender = false;
import Layout from "@/layouts/Layout.astro";
import { auth } from "@/lib/auth";
import { UserService } from "@/services/userService";
import ProfileBody from "@/components/web/profile/ProfileBody.astro";

const session = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/login");
}

const user = await UserService.findById(session.user.id);

if (!user) {
	return Astro.redirect("/login");
}
---

<Layout title="Mi Perfil" robots="noindex, nofollow">
	<section class="min-h-screen pt-40 pb-20 bg-accent/20">
		<div class="container-custom">
			<ProfileBody user={user} />
		</div>
	</section>
</Layout>
