---

---

<section class="py-12 bg-white border-b border-secondary/5">
	<div
		class="container-custom flex flex-wrap justify-center md:justify-between items-center gap-8 opacity-40 grayscale hover:grayscale-0 transition-all duration-500"
	>
		<span class="font-black text-2xl text-secondary">Escala 1:16</span>
		<span class="font-black text-2xl text-secondary">Escala 1:24</span>
		<span class="font-black text-2xl text-secondary">Escala 1:25</span>
		<span class="font-black text-2xl text-secondary">Escala 1:50</span>
		<span class="font-black text-2xl text-secondary">Escala 1:87</span>
	</div>
</section>
