---

---

<section class="py-12 bg-white border-b border-secondary/5">
	<div
		class="container-custom flex flex-wrap justify-center md:justify-between items-center gap-8 opacity-40 grayscale hover:grayscale-0 transition-all duration-500"
	>
		<span class="font-black text-2xl text-secondary">CAT</span>
		<span class="font-black text-2xl text-secondary">JCB</span>
		<span class="font-black text-2xl text-secondary">KOMATSU</span>
		<span class="font-black text-2xl text-secondary">MICHIGAN</span>
		<span class="font-black text-2xl text-secondary">DEERE</span>
	</div>
</section>
