---
import "@/styles/global.css";
import Navbar from "@/components/common/Navbar.astro";
import Footer from "@/components/common/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/inter/opsz-italic.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Cat By Cam - Réplicas Oficiales CAT a Escala | Distribuidor Autorizado Caterpillar",
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title} | Cat By Cam</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<script is:inline src="https://sdk.mercadopago.com/js/v2"></script>
	</head>
	<body class="min-h-screen flex flex-col">
		<Navbar />
		<main class="grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>
